#table input:focus,
#table textarea:focus {
    outline: none !important;
    border: 1px solid $colorBtns;
    box-shadow: none;

}

#table input{
    padding-block: 10px !important;
}

#table input::placeholder,#table textarea::placeholder {
    text-transform: capitalize;
    color: #bbbcbd !important;

}

#table textarea{
    height: 150px;
}

@media (max-width:810px) {

    .hsm{
        height: 40vh !important;
    }
    
}