.wave {
    position: absolute;
    top: 80%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    filter: invert(1);
}

.text-Card {
    font-size: 14px;
}

.wCard {
    overflow: hidden;
    transition: 0.6s;


    .conatinerSocile {
        top: 20px;
        transform: translateX(200px);
        transition: 0.5s;
    }

    &:hover {
        transform: translateY(-20px);

        .conatinerSocile {
            transform: translateX(150px);
        }
    }
}