@import "./modules/home/Navbar";
@import "./modules/home/header";
@import "./modules/about/_headerAbout";
@import "./modules/about/_mainAbout";
@import "./modules/about/footerAbout";
@import "./modules/menu/headerMenu";
@import "./modules/chefs/headerChefs";
@import "./modules/TableBook/headerTable";
@import "./modules/contact/headerContact";
@import "./modules/contact/mainContat";
@import "./modules/footer/footer";