.wave-btn {
  position: relative;

  .icon1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $colorBtns;
    border-radius: 50%;
    transition: transform 0.3s;

    &:hover {
      transform: translate(-50%, -50%) scale(1.5);

    }

    i {
      font-size: 1.5rem;
    }

    .wave {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid $colorBtns;
      border-radius: 50%;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0.6;
      animation: wave 2s ease-out infinite;
    }

    .wave:nth-child(2) {
      animation-delay: 1s;
    }
  }
}

@keyframes wave {
  0% {
    transform: scale(0.5);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.4;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}


.list1 li {
  display: flex;
  gap: 10px;
  margin-bottom: 3vh;
}

.carousel-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &.d-none {
    display: none;
  }
}

.carousel {
  width: 70%;
  overflow: hidden;
}

.track {
  display: flex;
  transition: transform 0.6s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  video,
  img {
    max-width: 100%;
    max-height: 80vh;
  }
}

/* arrows */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;

  &.prev {
    left: 20px;
  }

  &.next {
    right: 20px;
  }
}

/* close */
.close-btn {
  position: absolute;
  top: 10px;
  right: 30px;


  background-color: rgba(0, 0, 0, 0.732);

  cursor: pointer;
}


/* 
   MOBILE VERSION
 */
@media (max-width: 768px) {

  .carousel {
    width: 100%;
    height: 100%;
  }

  .slide {

    video,
    img {
      max-height: 70vh;
      width: 100%;
      object-fit: contain;
    }
  }

  /* arrows */
  .nav {
    font-size: 30px;
    padding: 8px;
    top: 50%;

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }

  /* close button */
  .close-btn {
    top: 15px;
    right: 15px;
    font-size: 32px;
    padding: 6px 10px;
    border-radius: 50%;
  }
}