.btnCards {
    background-color: #d53535 !important;

}

.iconCards {
    background-color: #fdf3f3;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    transition: all 0.5s ease;

    &:hover {
        background-color: $colorBtns;
        cursor: pointer;

        i {
            color: #ffffff !important;

        }
    }
}

.state{
    background-image: url("../../../../public/images/Yummy/stats-bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.state::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.638);

}


.textCard {
    width: 80%;
}